@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  list-style: none;
  text-decoration: none;
  font-size: 16px;
  font-family: "Inter", sans-serif;
}

:root {
  --primary-color: #41175e;
  --secondary-color: #f77373;
  --button-gradient:
    linear-gradient(120deg, #390d91, #33075f 50%, #440660),
    url(https://cdn.prod.website-files.com/692d224d1cb945b0c277ffbd/692d224d1cb945b0c27800ae_Noise%20\(4\).svg);
  --text-gradient:
    linear-gradient(130deg, #f77373, #c762f6 50%, #814bee),
    url(https://cdn.prod.website-files.com/692d224d1cb945b0c277ffbd/692d224d1cb945b0c27800ae_Noise%20\(4\).svg);
  --border-color: #f4f1f5;
}

.all-sections-container {
  margin: 0px 20px;
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 50px;
  border-bottom: 1px solid var(--border-color);
}

.nav-right {
  display: flex;
  align-items: center;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 30px;
  padding-right: 20px;
}

.nav-links li {
  display: flex;
  align-items: center;
  font-weight: 500 !important;
  color: var(--primary-color);
}

.nav-buttons-container {
  display: flex;
  align-items: center;
  padding: 20px 0px;
  gap: 30px;
  padding-left: 20px;
  border-left: 1px solid var(--border-color);
}

.cart-button {
  position: relative;
}

.count-badge {
  width: 20px;
  height: 20px;
  background-color: var(--secondary-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 600;
  color: white;
  position: absolute;
  top: 0;
  right: -10px;
}

.gradient-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  background-image: var(--button-gradient);
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 15px;
  color: white;
}

.btn-arrow-container {
  width: 30px;
  height: 30px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("https://cdn.prod.website-files.com/692d224d1cb945b0c277ffbd/692d224d1cb945b0c27800af_V1.svg");
}

.hero-section {
  padding: 70px 50px 150px 50px;
  position: relative;
}

.hero-button-gradient {
  background-image: var(--text-gradient);
  border-radius: 15px;
  width: fit-content;
  padding: 1px;
  overflow: hidden;
  box-shadow: 0 0 6px #c762f680;
}

.button-bg-white {
  display: flex;
  background-color: white;
  align-items: center;
  gap: 10px;
  border-radius: 15px;
  padding: 2px 10px;
}

.button-bg-white p {
  background-image: var(--text-gradient);
  background-clip: text;
  color: transparent;
}

.hero-section > h1,
.hero-section > h2 {
  font-size: 70px;
  font-weight: 600;
}

.hero-section > h1 {
  margin-top: 20px;
  color: var(--primary-color);
}

.hero-section > h2 {
  background-image: var(--text-gradient);
  color: transparent;
  background-clip: text;
}

.hero-section > p {
  margin: 20px 0px;
  color: var(--primary-color);
}

.hero-buttons-container {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 30px;
}

.hero-buttons-container > p:hover {
  color: var(--secondary-color);
  cursor: pointer;
}

.tasks-container {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 50px;
}

.task div {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #f0edf2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.task {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--primary-color);
  font-weight: 600;
}

.line {
  width: 2px;
  height: 30px;
  background-color: var(--border-color);
}

.hero-bg {
  position: absolute;
  top: 50px;
  width: 100%;
  right: 0;
}

.brand-section {
  background-image: url(https://cdn.prod.website-files.com/692d224d1cb945b0c277ffbd/692d224d1cb945b0c27800c8_Line%20Wrapper%20\(1\).svg);
  padding: 40px 50px;
  margin-top: 170px;
}

.dot {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: black;
}

.brand-heading {
  display: flex;
  align-items: center;
  gap: 10px;
}
.brand-heading p {
  font-weight: 600;
  color: var(--primary-color);
}

.brand-image-container {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
